<section id="welcome" class=" py-20 text-center mt-14">
  <div class="w-[90vw] max-w-4xl mx-auto px-4">
 
    <div class="mx-auto w-[40%] h-px bg-gray-100 mb-14 animate__animated animate__fadeIn animate__delay-1s"></div>
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-[#d5a1a1] tracking-wide mb-6 animate__animated animate__fadeIn animate__delay-1s">
      {{ lang === 'en' ? titleEN : titleES }}
    </h2>


    <p class="text-xl sm:text-2xl md:text-3xl font-bold text-gray-500 tracking-wide mb-6 animate__animated animate__fadeIn animate__delay-2s">
      {{ lang === 'en' ? descriptionEN : descriptionES }}
    </p>

 
    <p class="text-lg sm:text-xl text-gray-500 tracking-wider italic mt-4 animate__animated animate__fadeIn animate__delay-3s">
      {{ lang === 'en' ? noteEN : noteES }}
    </p>
    <div class="mx-auto w-[40%] h-px bg-gray-100 mt-14 animate__animated animate__fadeIn animate__delay-1s"></div>
  </div>
</section>
