<section id="welcome">
  <div class="w-[85vw] p-12 mx-auto relative border border-transparent rounded-lg">
    
    <!-- Línea dorada tenue y más larga arriba -->
    <div class="border-t-2 border-gray-100 w-1/2 mx-auto mb-4 pt-4"></div>
    
    <!-- Título centrado en la parte superior -->
    <h2 class="text-4xl font-bold text-gray-700 mb-6 text-center z-10">
      WELCOME TO <span class="text-[#df4d49]">EMUNA</span>
    </h2>
    
    <!-- Contenedor de texto con padding -->
    <div class="w-full text-center z-10 relative max-w-screen-lg mx-auto">
      <p class="text-xl text-gray-600 leading-relaxed font-sans mb-4">
        Bienvenido a Emuna, un espacio donde el arte del crochet se convierte en una experiencia única. 
      </p>
      <p class="text-xl text-gray-600 leading-relaxed font-sans mb-4">
        Aquí puedes descubrir patrones que te invitarán a transformar hilos en arte, explorar tu creatividad y crear piezas únicas con tus propias manos.
      </p>
      <p class="text-xl text-gray-500 leading-relaxed font-sans font-semibold mb-4">
        ¡Descubre lo que podemos tejer juntos!
      </p>
    </div>

    <!-- Línea dorada tenue y más larga abajo -->
    <div class="border-b-2 border-gray-100 w-1/2 mx-auto mt-4 pb-6"></div>
  </div>
</section>
