<section class="flex flex-col  md:flex-row w-full h-[600px] pt-6 pb-10 items-center justify-between overflow-hidden shadow-inner shadow-gray-300">

  <!-- Texto (50%) -->
  <div class="flex basis-1/2 justify-center items-center text-center h-full">
    <h2 class="text-xl md:text-3xl font-medium text-gray-600 leading-snug px-6 fade-in-up">
      {{description1}}<br />
      <span class="text-[#d48c86] font-semibold">{{description2}}</span> {{description3}}
    </h2>
  </div>

  <!-- Imagen (50%) -->
  <div class="flex basis-1/2 h-full m-0 p-0">
    <img 
      src="../../../../assets/carrousel/image2.jpg" 
      class="h-full w-full object-cover p-6 rounded-xl" 
      alt="Imagen" />
  </div>

</section>
