<section class="bg-[#faedeb]">
  <div id="default-carousel" class="relative w-full shadow-lg shadow-gray-500">
    <div class="relative h-[90vh] rounded-lg md:h-[90vh]">
      <div class="carousel-item absolute w-full h-full transition-opacity duration-700 ease-in-out opacity-0" *ngFor="let slide of slides; let i = index" [class.opacity-100]="i === currentIndex">
        <img [src]="slide.img" class="absolute block w-full h-full object-cover top-0 left-0" />
        <div class="absolute top-0 left-0 w-full h-full bg-gray-800/50 z-10"></div>
        <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center z-20 px-6 gap-3">
          <h2 class="text-white font-medium text-2xl md:text-3xl text-center">
            {{ lang === 'en' ? slide.textEN : slide.textES }}
          </h2>
          <h2 class="text-white font-medium  text-xl md:text-2xl text-center">
            {{ lang === 'en' ? slide.subtextEN : slide.subtextES }}
          </h2>
        </div>
      </div>
    </div>

    <button (click)="prevSlide()"
    class="absolute top-1/2 left-4 z-30 -translate-y-1/2 p-3 rounded-full bg-white/30 text-white hover:bg-white/70 hover:text-gray-800 transition duration-300 shadow-lg">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
  </button>
  
  <button (click)="nextSlide()"
    class="absolute top-1/2 right-4 z-30 -translate-y-1/2 p-3 rounded-full bg-white/30 text-white hover:bg-white/70 hover:text-gray-800 transition duration-300 shadow-lg">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
    </svg>
  </button>
  </div>
</section>
