<section>
    <div class="w-full text-center mb-20 mt-16">
      <h2 class="text-3xl font-semibold text-[#47403f]">
        Amigurumis
      </h2>
    </div>
    
    <div class="mb-2 px-10">
      <span class="text-sm text-gray-700">
        (*) {{notes}}
        <a href="preguntas!" class="text-blue-500 hover:underline">Link</a>.
      </span>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-3 gap-10 px-4 justify-center mx-auto max-w-screen-lg">
        <div *ngFor="let product of productsArray" class="w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-4">
            <img class="rounded-t-lg w-full h-72 object-cover" [src]="product.image" alt="{{product.image}}" />
          <div class="p-4">
              <h5 class="mb-2 text-xl font-semibold text-[#47403f]">{{ product.title }}</h5>
            <p class="mb-3 text-gray-700 dark:text-gray-400">{{ product.description }}</p>
          </div>
        </div>
      </div>
  </section>
  