<section class="w-full max-w-[90vw] mx-auto mt-28">
  <h2 class="text-4xl font-semibold text-gray-700 relative inline-block mb-6 w-fit">
    <span class="relative z-10 mb-4">{{title}}</span>
    <span class="absolute inset-x-0 bottom-1/2 translate-y-1/2 h-1/2 bg-[#faedeb] -z-10 rounded-md"></span>
  </h2>

  <p class="text-lg text-gray-700 mb-8">{{ description }}</p>

  <div class="space-y-4 border border-gray-300 rounded-lg p-2 w-full sm:w-[90vw] md:w-[70vw]">
    <div class="flex items-center justify-between text-sm px-4 py-1 gap-2">
      <span class="font-medium text-gray-800">{{ ratingTitle1 }}</span>
      <span class="font-semibold text-yellow-500">4.9/5</span>
    </div>
    <div class="flex items-center justify-between text-sm px-4 py-1 gap-2">
      <span class="font-medium text-gray-800">{{ ratingTitle2 }}</span>
      <span class="font-semibold text-yellow-500">5/5</span>
    </div>
    <div class="flex items-center justify-between text-sm px-4 py-1 gap-2">
      <span class="font-medium text-gray-800">{{ ratingTitle3 }}</span>
      <span class="font-semibold text-yellow-500">4.9/5</span>
    </div>
    <div class="flex items-center justify-between text-sm px-4 py-1 gap-2">
      <span class="font-medium text-gray-800">{{ ratingTitle4 }}</span>
      <span class="font-semibold text-yellow-500">4.9/5</span>
    </div>
  </div>

  <p class="text-xs text-gray-700 mt-4">{{ note }}</p>

  <div class="mt-8 relative">
    <button
      (click)="prevImage()"
      class="absolute left-2 text-gray-700 shadow top-1/2 -translate-y-1/2 bg-white hover:bg-pink-100 p-2 rounded-full  z-10"
      aria-label="Anterior"
    >
      ◀
    </button>

    <button
      (click)="nextImage()"
      class="absolute right-2 text-gray-700 shadow top-1/2 -translate-y-1/2 bg-white hover:bg-pink-100 p-2 rounded-full  z-10"
      aria-label="Siguiente"
    >
      ▶
    </button>

    <div class="overflow-hidden ">
      <div
        class="flex transition-transform duration-300 ease-in-out"
        [ngStyle]="{
          transform: 'translateX(-' + scrollPosition * (100 / visibleCount) + '%)'
        }"
      >
        <div
          *ngFor="let image of reviewImages"
          class="flex-shrink-0 px-4"
          [ngStyle]="{ width: 100 / visibleCount + '%' }"
        >
          <img
            [src]="image"
            alt="Review Image"
            class="w-full h-auto object-contain rounded-xl"
          />
        </div>
      </div>
    </div>
  </div>
</section>
