<section class="pt-20 mt-20">
    <div class="w-full text-center  ">
        <h2 class="text-4xl font-bold text-gray-700 relative inline-block w-fit">
          <span class="relative z-10 py-4 px-2">{{title}}</span>
          <span class="absolute left-0 bottom-1/2 translate-y-1/2 w-full h-1/2 bg-[#faedeb] -z-10 rounded-md"></span>
        </h2>
      </div>

    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      
     
        <form [formGroup]="contactForm" #myForm (ngSubmit)="send(myForm)" class="space-y-8">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{emailLabel}} (*)</label>
                <input name="email" formControlName="email" type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-600 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="example@mail.com" required>
                
                <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].invalid" class="text-red-500 text-sm mt-1">
                    <div *ngIf="contactForm.controls['email'].hasError('required')">{{emailRequired}}.</div>
                    <div *ngIf="contactForm.controls['email'].hasError('email')">{{emailInvalid}}.</div>
                </div>
            </div>

            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{subjectLabel}} (*)</label>
                <input type="text" name="subject" formControlName="subject" id="subject" class="block p-3 w-full text-sm text-gray-600 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder= {{subjectLabel}} required>
                
                <div *ngIf="contactForm.controls['subject'].touched && contactForm.controls['subject'].invalid" class="text-red-500 text-sm mt-1">
                    <div *ngIf="contactForm.controls['subject'].hasError('required')">{{subjectRequired}}.</div>
                    <div *ngIf="contactForm.controls['subject'].hasError('minlength')">{{subjectMinLenght}}.</div>
                    <div *ngIf="contactForm.controls['subject'].hasError('pattern')">{{subjectMinCharacters}}</div>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">{{commentLabel}} (*)</label>
                <textarea id="message" name="message" formControlName="message" rows="6" class="block p-2.5 w-full text-sm text-gray-600 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder={{commentPlaceholder}}></textarea>
                
                <div *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].invalid" class="text-red-500 text-sm mt-1">
                    <div *ngIf="contactForm.controls['message'].hasError('required')">{{commentRequired}}.</div>
                    <div *ngIf="contactForm.controls['message'].hasError('minlength')">{{commentMinLenght}}.</div>
                    <div *ngIf="contactForm.controls['message'].hasError('pattern')">{{commentMinCharacters}}.</div>
                </div>
            </div>
            <div>
              <label for="imageUrl" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              {{urlLabel}} (png | jpg | webP)
              </label>
              
              <input 
                type="text"
                id="imageUrl"
                name="imageUrl"
                formControlName="imageUrl"
                placeholder="https://example.com/image.jpg"
                (input)="onImageUrlChange()"
                class="block w-full text-sm text-gray-700 border border-gray-300 rounded-md cursor-pointer 
                       bg-white hover:bg-gray-100 focus:outline-none 
                       border-l-[12px] border-l-[#f6d9d4] focus:ring-2 focus:ring-[#f2c7c0]" />
                          
              <div *ngIf="imageError" class="mt-2 text-sm text-red-500">
                {{ imageError }}
              </div>
            
              <div *ngIf="imagePreviewUrl" class="relative mt-4 inline-block">
                <img 
                  [src]="imagePreviewUrl" 
                  alt="Image preview" 
                  class="max-w-[200px] h-auto rounded-md border shadow-sm"
                />
                
                <button 
                  type="button"
                  (click)="removeImage()"
                  class="absolute top-1 right-1 bg-red-100 rounded-full p-1 shadow hover:bg-red-200"
                  aria-label="Delete image"
                >
                  <svg class="w-4 h-4 text-red-500 hover:text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                  </svg>
                </button>
              </div>
            </div>
            


             <button type="submit" class="py-3 px-5  text-sm font-medium text-center text-gray-800 rounded-lg bg-[#f6d9d4] sm:w-fit  hover:bg-[#f2c7c0] focus:ring-4 focus:outline-none focus:ring-[#f2c7c0]">
                {{sendMesagge}}
              </button>
            
        </form>
        <p class="text-sm text-gray-800 mt-4">
        {{notes}}
        <a href="mailto:somosemuna0@gmail.com" class="text-grey-900 font-bold hover:text-gray-700">somosemuna0&#64;gmail.com</a>
        </p>

    </div>
</section>
