<section>
  <div class="w-full text-center mb-24 mt-20">
    <h2 class="text-4xl font-bold text-gray-700 relative inline-block w-fit">
      <span class="relative z-10 py-4 px-2">{{title}}</span>
      <span class="absolute left-0 bottom-1/2 translate-y-1/2 w-full h-1/2 bg-[#faedeb] -z-10 rounded-md"></span>
    </h2>
  </div>

  <div class="px-6 md:px-32">
    <div class="mb-20" *ngFor="let pattern of freePatterns">
        <section
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row max-w-6xl mx-auto h-full transition-transform duration-300 ease-in-out hover:scale-[1.02] dark:border-gray-700 dark:bg-gray-800">
      
        <img class="object-cover w-full h-full md:h-auto md:w-64 md:rounded-none md:rounded-s-lg md:h-full"
             [src]="pattern.image" [alt]="pattern.title">
        
        <div class="flex flex-col justify-between p-4 leading-normal w-full relative">
          <div>
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-700 dark:text-white">
              {{ pattern.itemTitle }}
            </h5>
            <p class="mb-2 text-md text-gray-600 dark:text-gray-300">
              {{ pattern.description }}
            </p>
            <p class="text-md text-gray-700 font-medium">
              {{note}}
            </p>
          </div>
          <div class="flex justify-end mt-4">
            <button (click)="downloadPattern(pattern)"
              class="bg-[#f6d9d4] text-[#5c4c41] text-md px-4 py-2 rounded-full shadow-md transition-all duration-300 hover:bg-[#f2c7c0] hover:text-[#3e3028] hover:scale-105 hover:shadow-lg">
              {{ download }}
            </button>
          </div>
        </div>
    </section>
    </div>
  </div>
</section>
