<section id="about-me" class="mt-20">
  <div   class="w-full max-w-[90vw] mx-auto mt-0">
    <div class="flex flex-col md:flex-row gap-6 items-start justify-between text-left">

      <div class="w-full md:w-[60vw] text-gray-600 text-base leading-relaxed flex flex-col gap-4">
        <h2 class="text-4xl font-semibold text-gray-700 relative inline-block mb-6 w-fit">
          <span class="relative z-10 mb-4">{{title}}</span>
          <span class="absolute inset-x-0 bottom-1/2 translate-y-1/2 h-1/2 bg-[#faedeb] -z-10 rounded-md"></span>
        </h2>

        <h4 class="text-xl font-bold text-gray-500">{{presentation}}</h4>

        <div class="w-full flex flex-row justify-center gap-6 mt-4 md:hidden">
          <img src="../../../../assets/about-me/kira.jpeg" alt="Kira"
            class=" fade-in w-[45%] h-auto object-cover rotate-[3deg] p-1 bg-[#faedeb] img-fade shadow-md"
          />
        
          <img src="../../../../assets/about-me/teo.jpg" alt="Teo"
            class="fade-in w-[45%] h-auto object-cover rotate-[-3deg] p-1 bg-[#faedeb] img-fade shadow-md"
          />
        </div>

        <p>{{description1}}</p>
        <p>{{description2}}</p>
        <p>{{description3}}</p>
        <p>{{description4}}</p>
      </div>

      <div class="relative hidden md:flex flex-row justify-between items-center w-[40vw]">
        <img src="../../../../assets/about-me/kira.jpeg" alt="Kira"
          class="fade-in w-[48%] object-cover rotate-[3deg] p-1 bg-[#faedeb] shadow-md z-10"
        />
  
        <img src="../../../../assets/about-me/teo.jpg" alt="Teo"
          class="fade-in w-[48%] object-cover rotate-[-3deg] p-1 bg-[#faedeb] shadow-md z-20"
        />
      </div>

    </div>
  </div>

  <div class="w-[70vw] mx-auto border-t mt-20" style="border-color: #faedeb;"></div>
</section>
