<nav class="fixed top-0 w-full z-50 bg-[#faedeb] transition-transform duration-300 py-2">


    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 cursor-pointer">
      <a (click)="navigateToHome()" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="assets/logo/emuna-logo.png" class="h-12" alt="Emuna Logo" />
          <span class="self-center text-4xl  whitespace-nowrap" style="font-family: 'Yellowtail', cursive; color: #dd1812;">
            Emuna
          </span>
          
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-[#faedeb] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#faedeb] dark:bg-[#faedeb] md:dark:bg-[#faedeb] dark:border-gray-700">
          <li>
            <a  (click)="navigateToHome()" class="block py-2 px-3 text-[#47403f] bg-[#faedeb] rounded-sm md:bg-transparent md:text-[#47403f] md:p-0 md:dark:text-[#47403f] dark:bg-[#faedeb] md:dark:bg-transparent hover:text-[#dd1812] cursor-pointer" aria-current="page">{{ home }}</a>
          </li>
          <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-[#47403f] rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#dd1812] md:p-0 md:w-auto dark:text-white md:dark:hover:text-[#dd1812] dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">{{services}} <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg></button>
              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-[#faedeb] divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-[#faedeb] dark:divide-gray-600">
                  <ul class="py-2 text-sm text-[#47403f] dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                      <a  (click)="navigateToProducts()"  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Amigurumis</a>
                    </li>
                    <li>
                      <a (click)="navigateToPatterns()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">{{freePatterns}}</a>
                    </li>
                  </ul>
              </div>
          </li>
          <li>
            <a href="#about-me" class="block py-2 px-3 text-[#47403f] rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#dd1812] md:p-0 dark:text-white md:dark:hover:text-[#dd1812] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{aboutMe}}</a>
          </li>
          <li>
            <a (click)="navigateToQuestions()"  class="block py-2 px-3 text-[#47403f] rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#dd1812] md:p-0 dark:text-white md:dark:hover:text-[#dd1812] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">{{questions}}</a>
          </li>
          <li>
            <a  (click)="navigateToContact()"   class="block py-2 px-3 text-[#47403f] rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#dd1812] md:p-0 dark:text-white md:dark:hover:text-[#dd1812] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer">{{contact}}</a>
          </li>
          <li>
            <button (click)="toggleLanguage()" class="toggle-lang flex items-center space-x-2">
              <span 
                [class.text-[#dd1812]]="getCurrentLang() === 'es'" 
                [class.text-gray-500]="getCurrentLang() !== 'es'" 
                class="hover:text-[#dd1812] transition-colors"
              >
                ES
              </span> 
              <span class="text-gray-500">|</span> 
              <span 
                [class.text-[#dd1812]]="getCurrentLang() === 'en'" 
                [class.text-gray-500]="getCurrentLang() !== 'en'" 
                class="hover:text-[#dd1812] transition-colors"
              > 
                EN
              </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  